    <!DOCTYPE html>   
    <html>
    <head>
    <meta charset="UTF-8">
    <title>消息提示</title>
    </head>
    <body>   
    欢迎大家关注我的博客！如有疑问,请加QQ群：135430763共同学习！  
    <div style="text-align:center;">  
      <button onclick="playPause()">播放/暂停</button>   
      <button onclick="makeBig()">大</button>  
      <button onclick="makeNormal()">中</button>  
      <button onclick="makeSmall()">小</button>  
      <br />   
      <video id="video1" width="420" style="margin-top:15px;">
        <source src="http://localhost:63342/VideoCaptioning_att-master/static/uploads/example2.mp4" type="video/mp4" />
        <source src="http://localhost:63342/VideoCaptioning_att-master/static/uploads/example1.ogg" type="video/ogg" />

  </video>
    </div>  
    <script type="text/javascript">  
        var myVideo=document.getElementById("video1");  
        function playPause(){   
            if (myVideo.paused)   
                myVideo.play();   
            else   
                myVideo.pause();   
        }   
        function makeBig(){   
            myVideo.width=560;   
        }   
        function makeSmall(){   
            myVideo.width=320;   
        }   
        function makeNormal(){   
            myVideo.width=420;   
        }   
    </script>   
    </body>   
    </html>  