<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息提示</title>
</head>
<body>
<h1 align="center"><font face="verdana">视频上传成功!</font></h1><br>
<br><br>
<!DOCTYPE html>
<html>
<body>

<div style="text-align:center;">
  <button onclick="playPause()">播放/暂停</button>
  <button onclick="makeBig()">大</button>
  <button onclick="makeNormal()">中</button>a
  <button onclick="makeSmall()">小</button>
  <br />
  <video id="video1" width="500" style="margin-top:15px;">
        <source id="video" src="{{ entries['url'] }}" type="video/mp4" />
       你的浏览器不支持html5的video标签
  </video>
</div>

<h1 style="text-align:center">{{ entries['sentence'] }}</h1>

<script type="text/javascript">
var myVideo=document.getElementById("video1");

function playPause()
{
if (myVideo.paused)
  myVideo.play();
else
  myVideo.pause();
}

function makeBig()
{
myVideo.width=560;
}

function makeSmall()
{
myVideo.width=320;
}

function makeNormal()
{
myVideo.width=420;
}
</script>


</body>
</html>

</body>
</html>