<!DOCTYPE html>

<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>视频字幕生成系统</title>
<style type="text/css">
body,td,th {
	font-size: 36px;
}
body {
	margin-left: 0px;
	margin-right: 0px;
}
</style>

</head>

  <body bgcolor="#FFFFFF" text="#000000" leftmargin="0">
    <table width="90%" border="1" align="center">
  <tr>
    <td align="center" bgcolor="#FFFFFF">
    <form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
      <em><strong>欢迎来到视频字幕生成系统</strong></em>
    </form></td>
  </tr>
  <tr>
    <td align="right">
    <img src="../static/fengjing.png" width="100%" height="90%"/>
      <form id="form2" name="form2" enctype="multipart/form-data" method="post" action="">
        <strong><var><tt>请选择文件</tt></var></strong><em><strong><var>：</var></strong></em>
        <label for="fileField"></label>
        <input type="file" name="file" id="fileField"/>
         <input type="submit" value="上传">
    </form></td>
  </tr>
</table>
  </body>
</html>